.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 30px;
}

.display-4 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
}
